.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin: 12px 0 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 355px;
}

.card__like-button {
  background-image: url(../images/heart_icon.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 12px 0 40px;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 630px) {
  .card {
    width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 265px;
    margin: 12px 0 22px;
  }

  .card__like-button {
    margin: 12px 0 20px;
  }
}
