.card {
  width: 413px;
  position: relative;
}

.card__delete-button {
  background-image: url(../images/delete.svg);
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 100%;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  background-image: url(../images/delete_hover.svg);
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 355px;
}

.card__like-button {
  background-image: url(../images/heart_icon.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 40%;
  margin: 0;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_active {
  background-image: url(../images/like_active.svg);
  opacity: 100%;
}

.card__like-button_active:hover {
  opacity: 50%;
}

@media screen and (max-width: 630px) {
  .card {
    width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 265px;
  }
}
