.card {
  width: 413px;
  padding-bottom: 36px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 12px 0 0;
}

.card__like-button {
  background-image: url(../images/heart_icon.svg);

  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 12px 0 0;
}
