.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
}

.modal__close-btn {
  position: absolute;
  right: 50px;
  top: 32px;
  background: none;
  border: none;
  padding: 0;
  background-image: url(../images/close_icon.svg);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 40%;
  color: #212121;
  margin: 0;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal__label {
  font-size: 16px;
  font-weight: 500;
  color: #212121b2;
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  color: #212121;
  margin: 8px 0 0;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid #21212166;
}

.modal__input:hover {
  border: 1px solid #212121;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  background-color: #212121;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #fcf5e5;
  padding: 18px 58px;
  max-width: 156px;
  height: fit-content;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    right: 12px;
    top: 12px;
  }

  .modal__label {
    margin: 0 0 16px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }
}
