.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 10px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
  opacity: 70%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
  opacity: 70%;
  background-color: transparent;
  border: none;
  width: fit-content;
  padding: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__edit-post {
  margin-right: 8px;
  transform: translate(0, 2px);
}

.profile__post-button {
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #fcf5e5;
  padding: 18px 24px 18px;
  min-width: 149px;
  height: fit-content;
  cursor: pointer;
}

.profile__post-button:hover {
  opacity: 80%;
}

.profile__new-post {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  margin-left: 8px;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 20px 0 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__column {
    width: 288px;
  }

  .profile__name {
    margin: 12px 0 6px;
    font-size: 20px;
    line-height: 100%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    max-width: 288px;
  }

  .profile__description {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    max-width: 288px;
  }

  .profile__edit-button {
    margin: 32px auto 20px;
  }

  .profile__post-button {
    margin: 0 auto;
    width: 100%;
  }
}
