.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
}

.profile__avatar-btn {
  position: absolute;
  width: 190px;
  height: 190px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  border-radius: 8px;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  color: white;
  margin-bottom: 12px;
}

.profile__edit-avatar {
  margin: 0 8px 12px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__name {
  margin: 0 0 12px;
  font-size: 32px;
  font-weight: 500;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
  background-color: transparent;
  border: none;
  width: fit-content;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__post-button {
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #fcf5e5;
  padding: 18px 24px 18px;
  min-width: 149px;
  height: fit-content;
  cursor: pointer;
}

.profile__post-button:hover {
  opacity: 0.8;
}

.profile__new-post {
  height: 12px;
  width: 12px;
  margin-right: 8px;
  margin-left: 8px;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 20px 0 20px;
  }

  .profile__avatar-container {
    margin-right: 0;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__avatar-btn {
    visibility: visible;
    height: 80px;
    width: 80px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    justify-content: flex-end;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__edit-avatar {
    background-color: rgba(33, 33, 33, 0.6);
    border-radius: 6px;
    height: 23px;
    width: 23px;
    margin: 0;
    padding: 4px;
    margin-bottom: 4px;
  }

  .profile__column {
    width: 288px;
  }

  .profile__name {
    margin: 12px 0 6px;
    font-size: 20px;
    line-height: 100%;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    max-width: 288px;
  }

  .profile__description {
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    max-width: 288px;
  }

  .profile__edit-button {
    margin: 32px auto 20px;
  }

  .profile__post-button {
    margin: 0 auto;
    width: 100%;
  }
}
